test/test.py
*.log
**/test
**/report
.idea
# 数据集
dataset
# OCR模型
utils/models
*.pdiparams
*.pdiparams.info
*.pdmodel
*.onnx
**/models
# yolo模块
download
yolo
**/__pycache__
**/py310
config.yaml
tactics.yaml
script
screenshot
tactics/
schema/yaml
gui/api/*json

