SettingInterface, #scrollWidget {
    background-color: transparent;
}

QScrollArea {
    border: none;
    background-color: transparent;
}


QLabel#settingLabel {
    background-color: transparent;
    color: white;
}

